.App {
  text-align: center;
  
}
.flashcard {
  width: 400px;
  height: 200px;
  border: 1px solid rgba(149, 7, 7, 0.87);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(124, 104, 170);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

  .card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
   width: 30 %;
  }